<p><%= flash[:notice] if flash[:notice] %></p>

<%= link_to current_user.full_name, edit_user_path(current_user) %>

<h3>New Rant</h3>

<%= form_for @dashboard.new_rant do |f| %>
  <%= f.label :content %><br>
  <%= f.text_area :content %><br>
  <%= f.submit "Create Rant" %>
<% end %>

<%= link_to "Following", user_followers_path(current_user) %>

<h3>Latest Rants</h3>

<%= render @dashboard.others_users_rants %>

<h3>My Rants</h3>

<%= render @dashboard.my_rants %>
