<p><%= flash[:notice] if flash[:notice] %></p>

<%= link_to current_user.full_name, edit_user_path(current_user) %>

<h3>New Rant</h3>

<%= form_for :rant do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.submit "Create Rant" %>
<% end %>