<!DOCTYPE html>
<html>
<head>
  <title>Rantly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
  <%= csrf_meta_tags %>
</head>
<header class="header-nav">
    <h3 class="header-text">Rant.ly</h3>
    <%= link_to "Join", new_registration_path, class: "join-button" %>
    <%= link_to "Login", new_session_path, class: "login-link" %>
</header>
<body>

<%= yield %>

</body>
</html>
